<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head style="background-color: #121212;" itemscope itemtype="http://schema.org/WebSite">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Watch <%- details.name %> on AnimeEZ</title>
<meta name="description" content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE without any ADS" />
<link rel="canonical" href="/" />
<meta property='og:type' content='website' />
<meta property='og:url' content='/' />
<meta property='og:description' content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta property="og:image" content="../../img/logo.png" />
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-TileColor" content="#201f1f" />
<meta name="theme-color" content="#201f1f" />
<link rel="stylesheet" href="https://animeez.tk/css/template.css">
<link href="https://animeez.tk/css/css" rel="stylesheet" />
<script src="https://animeez.tk/js/jquery-1.12.4.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://animeez.tk/js/js"></script>


</head>
<body>
<div id="root">
<div>
<!-- header -->
<header>
	<nav class="navbar sticky-fixed w-full z-50 flex">
		<div id="uk-main-nav" class="container w-full">
			<div class="flex bod">
				<div class="uk-navbar-left">
					<a href="https://animeez.tk/" class="uk-navbar-item uk-logo nuxt-link-exact-active nuxt-link-active"><img src="https://animeez.tk/img/logo.png" class="uk-svg" alt="AnimeEZ" title="AnimeEZ">
						<h2 class="is-shown-page-false" itemprop="headline">
							<strong>AnimeEZ</strong>
						</h2>
					</a>

					<ul class="uk-navbar-nav animate-me" id="mobilemenu">
						<li>
						<a href="https://animeez.tk" class="">Home</a>
						</li>
						
					</ul>
				</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li class="search-bar">
				<form action="https://animeez.tk/search" method="get">
							<div id="searchx" class="auto-complete-cont searchx">
								<div class="auto-complete form-inline animate-me" tabindex="-1" >								 
								<input class="nav-search" placeholder="Search... " id="keyword" name="keyword" type="text" autocomplete="off" required>
									<button class="nav-link" type="submit" aria-label="Submit search query" value="">
										<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
										</svg>
									</button>
									<div tabindex="-1" class="suggestions-cont hidden">
									</div>
									
								</div>
							</div>
						</form>

					</li>
					<li>
						<a  class="searcho" id="searcho" onclick="mobile()">
							<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
							</svg>
						</a>
					</li>
				
					<li>
					
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
					<li>
						<a href="https://animeez.tk" class="searcho">
							<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
							</svg>
						</a>
					</li>
				
					<li>
						<div class="tmobile">
							<button type="button" class="butto">
								<i>
								</i>
							</button>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
  <script src="https://animeez.tk/js/script.js"></script>
<div class="uk-sticky-placeholder">
</div>
<div id="menu" class="">
	<div class="menu-title">Menu
		<button type="button" class="btn npd lnk aa-tgl npd22" data-tgl="aa-wp"><i class="fa fa-times"></i>
		</button>
	</div>
	<ul class="menu">
		<li id="menu-item-18459" class="fa fa-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18459">
			<a href="https://animeez.tk/" aria-current="page">Home</a>
		</li>



	</ul>
</div>
</header>	<!-- end header -->
	 <!-- Anime Details-->
<div class="desktop-view" id="details">
<div class="top-detail relative">
<span class="background-gradient"></span>
<img class="details-bg" src="<%- details.img_url %>" alt="<%- details.name  %>">
<div class="uk-width-expand relative z-10">
<div class="uk-container uk-container-large py-8">
<img class="mt-3" src="<%- details.img_url %>" alt="<%- details.name  %>">
<h1 class="mb-1 text-3xl uppercase font-black">
<div><%- details.name  %></div>
</h1>
<ul class="list-reset font-bold flex items-center uppercase mb-8">
<li class="inline"></li>
<li class="ml-auto">

</li>
</ul>
</div>
</div>
</div>
<div class="details-content">
<br>
<div class="uk-container">
		
		<div class="details-tabs uk-button-group">
		<button class="uk-button uk-active uk-button-default">Anime Detail</button>
		</div><br><br>
<div class="flex v">
	<div class="card-bodyu c">
				<div class="col-12">					           

				</div>
				<div class="col-12"> 
				<h6 class="info-main">DESCRIPTION</h6>
					<p class="card-textu">
					<%- details.about %>				</p>
				</div>
				<div class="col-12">
				<h6 class="info-main">Synonyms</h6>
					<p class="info-sub genres d-flex justify-content-center flex-wrap">
					<%- details.othern %>					</p>
				</div>
				<div class="col-12">
				<h6 class="info-main">Genres</h6>
					<p class="info-sub genres d-flex justify-content-center flex-wrap">
          <% details.genre.forEach((genre) => { %>
					<a><%- genre %></a>,	
           <% }) %>				</p>
				</div>
	</div>
		<div class="card-bodyu d">
		<h6 class="card-titleu">
		<svg class="svg-t" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path>
		</svg>Information</h6>
			<div class="row">
				<div class="col-6">
				<h6 class="info-main">Type</h6>
				<p class="info-sub"><%- details.type %></p>
				</div>
				<div class="col-6">
				<h6 class="info-main">Status</h6>
				<p class="info-sub"><a ><%- details.status %></a></p>
				</div>
				<div class="col-6">
				<h6 class="info-main">Released</h6>
				<p class="info-sub"><%- details.started %></p>
				</div>
				<div class="col-6">
				<h6 class="info-main">Episodes</h6>
				<p class="info-sub"><%- details.episode_id.length %></p>
				</div>				
              	
          </div>
		</div>
		
		</div>

		<!-- End Anime Details-->
<ul class="list-reset font-bold flex items-center uppercase mb-8">
<li class="inline">Episode List</li>
<li class="ml-auto">

</li>
</ul>
</div>
<div class="uk-container uk-container-large py-8 text-md">
		<ul class="episode">
    <% details.episode_id.forEach((ep) => { %>
			<li class="epi-me">
				<a href="<%- ep.episodeUrl %>">
				<div title="<%- ep.episodeNum %>" class="name">
				<span><%- ep.episodeNum %></span>
				</div>
				<div class="vien">
				</div>
				<div class="cate"> <%- ep.episodesub %> </div>
				</a>
			</li>		
      <% }) %>
      </ul>
		  </div>
</div>
</div>
<!-- footer -->
<footer>
	<section class="footer-top">
		<div class="uk-container pb-10 uk-container-large">
			<div class="flex items-center mt-4">
		
			</div>
		</div>
	</section>
	<section class="uk-background footer-bottom py-5">
		<div class="uk-container text-sm uk-container-large flexo">
			<div class="copyright"> Copyright © 2022 AnimeEZ, LLC. All Rights Reserved</div>
		</div>
	</section>
</footer>	<!-- end footer --></div>
</div>

</body>
</html>