<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head style="background-color: #121212;" itemscope itemtype="http://schema.org/WebSite">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_token" content="eAAlpzdTcyBO2HadP2nOjfoXNLbHRo6D81wh7HH2">
<title>AnimeEZ -  Watch High Quality Anime Online</title>
<meta name="description" content="Watch high-quality Anime Episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<link rel="canonical" href="/" />
<meta property='og:type' content='website' />
<meta property='og:url' content='/' />
<meta property='og:title' content="AnimeEZ - Watch High Quality Anime Online" />
<meta property='og:description' content="Watch high-quality Anime Episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta property="og:image" content="img/logo.png" />
 <meta name="keywords" content="AnimeEZ, flixanime, animefox, AnimeEZ.io, anime, watch anime online, subbed anime, dubbed anime, stream anime, free anime, gogoanime">
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
<link rel='icon' href='favicon.ico' type='image/x-icon'>
<meta property='og:image' content='img/favicon.png' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-TileColor" content="#201f1f" />
<meta name="theme-color" content="#201f1f" />
<link rel="stylesheet" href="https://animeez.tk/css/template.css">

<script src="https://animeez.tk/js/jquery-1.12.4.min.js"></script>





</head>

<body>
<div id="root">
<div>
<header>
	<nav class="navbar sticky-fixed w-full z-50 flex">
		<div id="uk-main-nav" class="container w-full">
			<div class="flex bod">
				<div class="uk-navbar-left">
					<a href="https://animeez.tk" class="uk-navbar-item uk-logo nuxt-link-exact-active nuxt-link-active"><img src="https://animeez.tk/img/logo.png" class="uk-svg" alt="AnimeEZ" title="AnimeEZ">
						<h2 class="is-shown-page-false" itemprop="headline">
							<strong>AnimeEZ</strong>
						</h2>
					</a>

					<ul class="uk-navbar-nav animate-me" id="mobilemenu">
						<li>
						<a href="https://animeez.tk" class="">Home</a>
						</li>
				
					</ul>
				</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li class="search-bar">
						<form action="https://animeez.tk/search" method="get">
							<div id="searchx" class="auto-complete-cont searchx">
								<div class="auto-complete form-inline animate-me" tabindex="-1" >								 
								<input class="nav-search" placeholder="Search... " id="keyword" name="keyword" type="text" autocomplete="off" required>
									<button class="nav-link" type="submit" aria-label="Submit search query" value="">
										<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
										</svg>
									</button>
									<div tabindex="-1" class="suggestions-cont hidden">
									</div>
									
								</div>
							</div>
						</form>

					</li>
					<li>
						<a href="https://animeez.tk/#" class="searcho" id="searcho" onclick="mobile()">
							<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
							</svg>
						</a>
					</li>
				
					<li>
					
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
<div class="uk-sticky-placeholder">
</div>
<div id="menu" class="">
	<div class="menu-title">Menu
		<button type="button" class="btn npd lnk aa-tgl npd22" data-tgl="aa-wp"><i class="fa fa-times"></i>
		</button>
	</div>
	<ul class="menu">
		<li id="menu-item-18459" class="fa fa-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18459">
			<a href="https://animeez.tk/" aria-current="page">Home</a>
		</li>

	</ul>
</div>
<script>
 </script>
</header><main role="main" class="main-content">
<div class="bod"></div>
<article class="rand animate-me"><div class="erc-hero-card" id="random"><div class="erc-hero-card-background-overlay bottom-angled"><span class="background-gradient"></span><img class="background-image" src="https://animecdn.sbs/banner/black-clover-tv.jpg" alt="Black Clover (TV)"></div><div class="foreground"><div class="main-image-wrapper-link"><div class="main-image-wrapper"><a class="poster-hover-layer" href="https://animeez.tk/anime/black-clover-tv"><div class="play-icon"><svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path><path class="fa-primary" fill="currentColor" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></g></svg></div><h4 class="text-sm font-bold">Watch</h4></a><img class="c-content-image" src="https://animecdn.sbs/cover/black-clover-tv.png" alt="Black Clover (TV)"></div></div><section class="info"><a class="title-link" href="https://animeez.tk//anime/black-clover-tv"><h3 class="title">Black Clover (TV)</h3></a><div class="additional-information"><div class="c-meta-tags media-tag-group"><span class="c-meta-tags__type">Synonyms</span><span class="c-meta-tags__language"><span><span></span><span>ブラッククローバー</span></span></div></div><p class="description">Asta and Yuno were abandoned together at the same church and have been inseparable since. As children, they promised that they would compete against each other to see who would become the next Emperor Magus. However, as they grew up, some differences between them became plain. Yuno was a genius with magic, with amazing power and control, while Asta could not use magic at all, and tried to make up for his lack by training physically. When they received their Grimoires at age 15, Yuno got a spectacular book with a four-leaf clover (most people receive a three-leaf-clover), while Asta received nothing at all. However, when Yuno was threatened, the truth about Asta's power was revealed, he received a five-leaf clover Grimoire, a "black clover"! Now the two friends are heading out in the world, both seeking the same goal!</p></section></div></div></article>
  
  
  <div class="container content">
	<div class="flex items-center pb-4">
		<div class="text-lg font-medium uppercase">Recently Added</div>
		<div class="flex items-center ml-auto text-4xl pagination-nav">
			<div class="show">
			
					
				
			</div>
		</div>
	</div>
  <script src="https://animeez.tk/js/script.js"></script>
<div id="episodes" class="uk-light grid home-release">
<% recent.forEach((item) => { %>
  
						<div class="release-episodes shadow hover:shadow-md uk-scrollspy-inview uk-animation-fade animate-me">
		<div class="video-card">		
			<div class="video-card-image">
				<a href="https://animeez.tk/watch<%- item.anime_id%>" class="poster-hover-layer">
					<div class="play-icon">
						<svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path><path class="fa-primary" fill="currentColor" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></g>
						</svg>
					</div>
				</a>
    
				<p class="type-dub">SUB</p>
				<a href="https://animeez.tk/watch/<%- item.anime_id%>"><img class="img-fluid" alt="<%- item.name%>" src="<%- item.img_url %>">
				</a>
			</div>
			<div class="video-card-body">
				<div class="video-title">
					<a href="https://animeez.tk/watch/<%- item.anime_id%>">
						<h3><%- item.episode %>					
							<div class="video-page"><%- item.name %></div>
						</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
<% }) %>
</div>
</div>  
<!-- <div class="container content">
	<div class="flex items-center pb-4">
		<div class="text-lg font-medium uppercase">Recently Added MANGA</div>
		<div class="flex items-center ml-auto text-4xl pagination-nav">
			<div class="show">
			
					
				
			</div>
		</div>
	</div>
  <script src="https://animeez.tk/js/script.js"></script>
<div id="episodes" class="uk-light grid home-release">
<% recentm.forEach((item) => { %>
  
						<div class="release-episodes shadow hover:shadow-md uk-scrollspy-inview uk-animation-fade animate-me">
		<div class="video-card">		
			<div class="video-card-image">
				<a onclick="dhvit('<%= item.chno %>', '<%= item.mid %>')" class="poster-hover-layer">
					<div class="play-icon">
						<svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path><path class="fa-primary" fill="currentColor" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></g>
						</svg>
					</div>
				</a>
    
				<p class="type-dub">English</p>
				<a onclick="dhvit('<%= item.chno %>', '<%= item.mid %>')"><img class="img-fluid" alt="<%- item.name%>" src="<%- item.img_url %>">
				</a>
			</div>
			<div class="video-card-body">
				<div class="video-title">
					<a onclick="dhvit('<%= item.chno %>', '<%= item.mid %>')">
						<h3><%- item.name %>					
							<div class="video-page"><%- item.chno %></div>
						</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
<% }) %>
</div>
</div>  
  <script>
function dhvit(chno, id) {
 
           const form = document.createElement('form');
  form.method = 'POST';
  form.action = `https://animeez.tk/read/${id}`;
     const params = {
     chapter: chno
     } 
  for (const key in  params ) {
    if (params.hasOwnProperty(key)) {
      var hiddenField = document.createElement(`input`);
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      
      hiddenField.value =  params[key];

      form.appendChild(hiddenField);
    }
 }

  document.body.appendChild(form);
    form.submit();
}
</script>
  	-->
<div class="container content">
	<div class="flex items-center pb-4">
		<div class="text-lg font-medium uppercase">Trending Anime</div>
			<div class="flex items-center ml-auto text-4xl pagination-nav">
				<div class="show">
				
				</div>
			</div>
	</div>
<div id="episodes" class="uk-light grid home-release">
<% trend.forEach((det) => { %>
                                    	<article class="bs relative animate-me">
		<a class="poster-hover-layer" href="https://animeez.tk/anime/<%- det.anime_id %>">
		<div class="play-icon"><svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path><path class="fa-primary" fill="currentColor" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></g>
		</svg>
		</div>
		<h4 class="text-sm font-bold"><%- det.name%></h4>
		</a>
	<div class="bsx" itemscope="">
  <%- console.log(det.name) %>
		<a class="cona" href="https://animeez.tk/anime/<%- det.anime_id %>">
			<div class="limit">
			<img class="coveri coveris" src="<%- det.img_url %>" itemprop="image" alt="Kimetsu no Yaiba: Yuukaku-hen">
				<div class="tt"><h3><%- det.name %></h3>
					<span> Anime					<i><%- det.released %></i>
					</span>
				</div>
			</div>
		</a>
	</div>
	</article>
	<% }) %>
</div>
</div>
</main>  
	<!-- footer -->

<footer>
	<section class="footer-top">
		<div class="uk-container pb-10 uk-container-large">
			<div class="flex items-center mt-4">
			
			</div>
		</div>
	</section>
	<section class="uk-background footer-bottom py-5">
		<div class="uk-container text-sm uk-container-large flexo">
     
			<div class="copyright"> Copyright © 2022 AnimeEZ, LLC. All Rights Reserved</div>
		</div>
	</section>
</footer>	<!-- end footer -->
</div>
</div>
</body>
</html>