<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head style="background-color: #121212;" itemscope itemtype="http://schema.org/WebSite">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_token" content="eAAlpzdTcyBO2HadP2nOjfoXNLbHRo6D81wh7HH2">
<title>AnimeEZ - Search Result for "Naruto"</title>
<meta name="description" content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<link rel="canonical" href="/" />
<meta property='og:type' content='website' />
<meta property='og:url' content='/' />
<meta property='og:title' content="AnimeEZ - Search" />
<meta property='og:description' content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta property="og:image" content="img/logo.png" />
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
<link rel='icon' href='favicon.ico' type='image/x-icon'>
<meta property='og:image' content='img/favicon.png' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-TileColor" content="#201f1f" />
<meta name="theme-color" content="#201f1f" />
<link rel="stylesheet" href="https://animeez.tk/css/template.css">
<link href="https://animeez.tk/css/css" rel="stylesheet" />
<script src="https://animeez.tk/js/jquery-1.12.4.min.js"></script>


<script async src="https://animeez.tk/js/js"></script>


</head>
<body>
<div id="root">
<div>
<header>
	<nav class="navbar sticky-fixed w-full z-50 flex">
		<div id="uk-main-nav" class="container w-full">
			<div class="flex bod">
				<div class="uk-navbar-left">
					<a href="https://animeez.tk/" class="uk-navbar-item uk-logo nuxt-link-exact-active nuxt-link-active"><img src="https://animeez.tk/img/logo.png" class="uk-svg" alt="AnimeEZ" title="AnimeEZ">
						<h2 class="is-shown-page-false" itemprop="headline">
							<strong>AnimeEZ</strong>
						</h2>
					</a>

					<ul class="uk-navbar-nav animate-me" id="mobilemenu">
						<li>
						<a href="https://animeez.tk" class="">Home</a>
						</li>
		
					</ul>
				</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li class="search-bar">
							<form action="https://animeez.tk/search" method="get">
							<div id="searchx" class="auto-complete-cont searchx">
								<div class="auto-complete form-inline animate-me" tabindex="-1" >								 
								<input class="nav-search" placeholder="Search... " id="keyword" name="keyword" type="text" autocomplete="off" required>
									<button class="nav-link" type="submit" aria-label="Submit search query" value="">
										<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
										</svg>
									</button>
									<div tabindex="-1" class="suggestions-cont hidden">
									</div>
									
								</div>
							</div>
						</form>

					</li>
					<li>
						<a  class="searcho" id="searcho" onclick="mobile()">
							<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
							</svg>
						</a>
					</li>
				
					<li>
					
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
					
					<li>
						<div class="tmobile">
							<button type="button" class="butto">
								<i>
								</i>
							</button>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
<div class="uk-sticky-placeholder">
</div>
<div id="menu" class="">
	<div class="menu-title">Menu
		<button type="button" class="btn npd lnk aa-tgl npd22" data-tgl="aa-wp"><i class="fa fa-times"></i>
		</button>
	</div>
	<ul class="menu">
		<li id="menu-item-18459" class="fa fa-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18459">
			<a href="https://animeez.tk" aria-current="page">Home</a>
		</li>


	</ul>
</div>
<script src="https://animeez.tk/js/script.js"></script>
</header>	<!-- content -->
	<div class="container amx asn">
	<div class="popular">
		<div class="uk-light grid home-release">
			   <% details.forEach((detail) => { %>
                                  			<article class="bs relative animate-me">
					<a class="poster-hover-layer" href="https://animeez.tk/anime/<%- detail.anime_id %>">
					<div class="play-icon"><svg class="svg-inline--fa fa-play-circle fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path><path class="fa-primary" fill="currentColor" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></g></svg>
					</div>
					<h4 class="text-sm font-bold"><%- detail.name%></h4>
					</a>
				<div class="bsx" itemscope="">
					<a class="cona" href="https://animeez.tk/anime/<%- detail.anime_id %>">
						<div class="limit">
						<img class="coveri coveris" src="<%- detail.img_url %>" itemprop="image" alt="">
							<div class="tt">
								<h3><%- detail.name %></h3>
					<span>Anime					<i><%- detail.released %></i>
					</span>
							</div>
						</div>
					</a>
				</div>			
			</article>
      <% }) %>
                                  			
                                  									</div>
	</div>
	
	

</div>
	<!-- end content -->
  
	<!-- footer -->
<footer>
	<section class="footer-top">
		<div class="uk-container pb-10 uk-container-large">
			<div class="flex items-center mt-4">
				
			</div>
		</div>
	</section>
	<section class="uk-background footer-bottom py-5">
		<div class="uk-container text-sm uk-container-large flexo">
			<div class="copyright"> Copyright © 2022 AnimeEZ, LLC. All Rights Reserved</div>
		</div>
	</section>
</footer>	<!-- end footer -->
	
	
</body>
</html>