<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head style="background-color: #121212;" itemscope itemtype="http://schema.org/WebSite">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_token" content="eAAlpzdTcyBO2HadP2nOjfoXNLbHRo6D81wh7HH2">
<title>Watch <%- details.name %> on AnimeEZ</title>
<meta name="description" content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta name="keywords" content="<%- details.name %>, English Subbed/Dubbed on AnimeEZ">
 <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
   <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
  <script type="text/javascript" src="https://animeez.tk/bower_components/crypto-js/crypto-js.js"></script>
<meta name="description" content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta name="keywords" content="Dolls Frontline Dub, English Subbed/Dubbed on AnimeEZ">
<meta itemprop="image" content=""/>
<link rel="canonical" href="/" />
<meta property='og:type' content='video' />
<meta property='og:url' content='/' />
<meta property='og:title' content="Watch Dolls Frontline Dub  on AnimeEZ" />
<meta property='og:description' content="Watch best high-quality episodes in 720p, 1080p on AnimeEZ. Best of all you can Stream all anime for FREE" />
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<meta property="og:image" content=""/>
<meta property="og:image:secure_url" content=""/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-TileColor" content="#201f1f" />
<meta name="theme-color" content="#201f1f" />
<meta property="twitter:card" content="summary"/>
<meta property="twitter:title" content="Watch Dolls Frontline Dub English Subbed/Dubbed online at AnimeEZ"/>
<meta property="twitter:description" content="Watch Dolls Frontline Dub online at AnimeEZ"/>

<link rel="stylesheet" href="https://animeez.tk/css/template.css">
<link href="https://animeez.tk/css/css" rel="stylesheet" />

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  
  ></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://animeez.tk/js/js"></script>


</head>
<body>
<div id="root">
<div>
<!-- header -->
<header>
	<nav class="navbar sticky-fixed w-full z-50 flex">
		<div id="uk-main-nav" class="container w-full">
			<div class="flex bod">
				<div class="uk-navbar-left">
					<a href="https://animeez.tk/" class="uk-navbar-item uk-logo nuxt-link-exact-active nuxt-link-active"><img src="https://animeez.tk/img/logo.png" class="uk-svg" alt="AnimeEZ" title="AnimeEZ">
						<h2 class="is-shown-page-false" itemprop="headline">
							<strong>AnimeEZ</strong>
						</h2>
					</a>

					<ul class="uk-navbar-nav animate-me" id="mobilemenu">
						<li>
						<a href="https://animeez.tk" class="">Home</a>
						</li>
					
						
					</ul>
				</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li class="search-bar">
			<form action="https://animeez.tk/search" method="get">
							<div id="searchx" class="auto-complete-cont searchx">
								<div class="auto-complete form-inline animate-me" tabindex="-1" >								 
								<input class="nav-search" placeholder="Search... " id="keyword" name="keyword" type="text" autocomplete="off" required>
									<button class="nav-link" type="submit" aria-label="Submit search query" value="">
										<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
										</svg>
									</button>
									<div tabindex="-1" class="suggestions-cont hidden">
									</div>
									
								</div>
							</div>
						</form>

					</li>
					<li>
						<a  class="searcho" id="searcho" onclick="mobile()">
							<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M208 80a128 128 0 1 1-90.51 37.49A127.15 127.15 0 0 1 208 80m0-80C93.12 0 0 93.12 0 208s93.12 208 208 208 208-93.12 208-208S322.88 0 208 0z"></path><path class="fa-primary" fill="currentColor" d="M504.9 476.7L476.6 505a23.9 23.9 0 0 1-33.9 0L343 405.3a24 24 0 0 1-7-17V372l36-36h16.3a24 24 0 0 1 17 7l99.7 99.7a24.11 24.11 0 0 1-.1 34z"></path></g>
							</svg>
						</a>
					</li>
				
					<li>
					
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
				
					<li>
						<div class="tmobile">
							<button type="button" class="butto">
								<i>
								</i>
							</button>
               <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
  <script src="https://animeez.tk/js/script.js"></script>
<div class="uk-sticky-placeholder">
</div>
<div id="menu" class="">
	<div class="menu-title">Menu
		<button type="button" class="btn npd lnk aa-tgl npd22" data-tgl="aa-wp"><i class="fa fa-times"></i>
		</button>
	</div>
	<ul class="menu">
		<li id="menu-item-18459" class="fa fa-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18459">
			<a href="https://animeez.tk/" aria-current="page">Home</a>
		</li>

	</ul>
</div>
</header>	<!-- end header -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="desktop-view" id="details">
<div class="details-content">
<div class="uk-container">  
			<div class="theatre">
              <div class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
<span class="breadcrumb-link-wrap" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
<a class="breadcrumb-link" href="https://animeez.tk" itemprop="item">
<span class="breadcrumb-link-text-wrap" itemprop="name">AnimeEZ
</span>
</a>
</span>
            

<span aria-label="breadcrumb separator"> /
</span><a href="https://animeez.tk/anime/<%- details.name %>"><%- details.name%></a>
<span aria-label="breadcrumb separator"> 
</span>  </div>		<div class="your-computer-has-a-virus">Watch  </div>
				<div class="theatre-settings">
                  					<div id="video" class="player iframe video-js vjs-default-skin vjs-skin-flat-grey vjs-big-play-centered vjs-16-9 vidstreaming_iframe">
              
                              
                              <% 
                               
                                if(details.watch.server === "SB Stream") { %>
                            	<iframe src="<%- details.watch.watch %>" id="iframe-to-load" allowfullscreen="true"></iframe>
                                <% } else { %>
                                  
                                 <% if(details.watch.sources) {%>
                             <video id="media"  class="" controls>
          <source type="application/x-mpegURL" src=" <%- details.watch.sources %> "></source>
                
                      
                            <% } %>
                            </video>
                                  <% } %>
				
					</div>
	
					<div class="row flex">
									
<div class="col-sm-3">
					<div class="dropup" id="hostitem">
					<select class="btn btn-secondary btn-block dropdown-toggle" id="select-iframe-to-display">
   					<option class="btn-video dropdown-item" value=">">Default M3u8(GOGOCDN)</option>
                    
					</select>
					</div>
</div>
<div class="col-sm-3">
<div class="dropup" id="qualityitem">
<a id="fansubMenu" class="btn btn-secondary btn-block dropdown-toggle" href="https://animeez.tk/anime/<%-details.name %>">Anime
</a> </div>
</div>
<% if(details.previous)  { %>
<div class="col-sm-3">
<div class="dropup" id="qualityitem">
<a id="fansubMenu" class="btn btn-secondary btn-block dropdown-toggle" href="<%- details.previous %>">Previous</a> 
</div></div>
<% } %>
<% if(details.next) {%>
<div class="col-sm-3">
<div class="dropup" id="qualityitem">
<a id="fansubMenu" class="btn btn-secondary btn-block dropdown-toggle" href="<%- details.next %>">Next</a> 
</div></div>
 <% } %>
                           
</div>
</div>
		<div class="entry-content">
	
			<h2><%- details.name%> 		</h2>
      
			<h4>Episode List
			</h4> :
			<i>
			<a href="https://animeez.tk/anime/<%- details.name %>"><%- details.name %></a>
			</i>
			<br>
			
			<i>
			<span>
			<span>
			</span>
		
			</span>
			</i>
			<br>
			<br>
			<div class="clear">
			</div>
		</div>
<div class="uk-container uk-container-large py-8 text-md">
		<ul class="episode">
    <% details.episodes.forEach((ep) => { %>
			<li class="epi-me">
				<a href="<%- ep.episodeUrl %>">
				<div title="<%- ep.episodeNum %>" class="name">
				<span><%- ep.episodeNum %></span>
				</div>
				<div class="vien">
				</div>
				<div class="cate"> <%- ep.episodesub %> </div>
				</a>
			</li>		
      <% }) %>
      </ul>
		  </div>
</div>
</div>
		

<!-- footer -->
<footer>
	<section class="footer-top">
		<div class="uk-container pb-10 uk-container-large">
			<div class="flex items-center mt-4">
			
			</div>
		</div>
	</section>
	<section class="uk-background footer-bottom py-5">
		<div class="uk-container text-sm uk-container-large flexo">
			<div class="copyright"> Copyright © 2022 AnimeEZ, LLC. All Rights Reserved</div>
		</div>
	</section>
</footer><script type="text/javascript">

</script>
        <!-- JS code -->
<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->

	<!-- end footer --></div>
</div>

<script>
  
var player = videojs('media');
player.play();

    player.on('error', function() {
  player.src({ type: 'application/x-mpegURL', src: "<%- details.watch.sources2 %>" });
});
</script>
        
</body>
</html>